body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: 20px 20px 20px 45px;
  padding: 30px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    315deg,
    #89cff0 0%,
    #87cefa 25%,
    #ace5ee 50%,
    #e7feff 75%,
    white 100%
  );
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  height: 375px;
  width: 375px;
  margin: 10px;
  padding: 10px;
}

.nav-bar{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: forwards;
  font-size: 1em;
  color:white;
  text-shadow: 0 0 0 var(--green);
  background-color:midnightblue;
  text-align: center;
  font-size: 15px 
}

.nav-bar .nav-bar-route:hover{
  background-color: rgb(141, 20, 141);
}

.nav-bar h1{
  position: relative ;
  left: -10px;
  text-decoration-color: #f5deb3;
}
.home-page{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  padding: 30px;
  background-image: url('./images/StarryShiba.png');
  background-color: midnightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page h1{
  border-style: double;
  padding: 10px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  display: flex; 
  flex-direction: column;
  width: 70%;
  margin: 1rem;
  margin-left: 15%;
  color: white;
  /* background: linear-gradient(
    315deg,
    #89cff0 0%,
    #87cefa 25%,
    #ace5ee 50%,
    #e7feff 75%,
    white 100%
  ); */
}

.home-page p{
  transform-style: preserve-3d;
  border-style: double;
  padding: 10px, 10px, 10px, 10px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  display: flex; 
  flex-direction: column;
  width: 70%;
  margin: 20rem;
  margin-left: 15%;
  color: white;
  /* background: linear-gradient(
    315deg,
    #89cff0 0%,
    #87cefa 25%,
    #ace5ee 50%,
    #e7feff 75%,
    white 100%
  ); */
}
.dog-details{
  border-style: double;
  padding: 10px 5px 10px 5px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  display: flex; 
  flex-direction: column;
  margin: 2rem;
  margin-left: 15%;
  width: 70%;
  background: linear-gradient(
    315deg,
    #89cff0 0%,
    #87cefa 25%,
    #ace5ee 50%,
    #e7feff 75%,
    white 100%
  );
}

.signupForm{
  margin: 5rem;
  padding: 10px 5px 10px 5px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: midnightblue;
  border-style: double;
  background-color: rgba(245, 245, 245, 0.973);
  color: rgba(40, 87, 137, 1);
}



.login-form {
  margin: 5rem;
  padding: 10px 5px 10px 5px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: midnightblue;
  border-style: double;
  background-color: rgba(245, 245, 245, 0.973);
  color: rgba(40, 87, 137, 1);
}
.user-profile{
  border-style: double;
  padding: 10px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  display: flex; 
  flex-direction: column;
  margin: 1rem;
  width: 70%;
  margin-left: 15%;
  background: linear-gradient(
    315deg,
    #89cff0 0%,
    #87cefa 25%,
    #ace5ee 50%,
    #e7feff 75%,
    white 100%
  );
}

.new-rental-form{
  margin: 5rem;
  padding: 10px 5px 10px 5px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: midnightblue;
  border-style: double;
  background-color: rgba(245, 245, 245, 0.973);
  color: rgba(40, 87, 137, 1);
}